* {
  box-sizing: border-box;
}


body {

  font-size: 35px;
  background-color: rgb(32, 37, 78);

}

.container {
  margin-top: 50px;
  text-align: center;
}

.container input,
button {
  padding: 10px;
  font-size: 25px;
}

.container input {
  margin-top: 20px;
  font-size: 25px;
}

.container .select {
  padding: 10px;
  
  font-size: 15px;
  margin: 15px 0px;
}
h1{
  color: greenyellow;
}
.detailspage span{
color: cadetblue;
}